
.background {
    background-image: url(../../assets/nasa.jpg);
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    form {
        width: 80%;
    }
}
.information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    .countryDetails {
        width: 45%;
    }
    .ipDetails {
        width: 45%;
        .ip {
            width: 100%;
        }
    }
}
.ipInfo{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    color: rgb(238, 238, 238);
}
input, textarea {
    display: block;
    width: 50%;
    margin-bottom: 20px;
    padding: 1em;
}

.error {
    margin-top: -20px;
    color: red;
    padding: .5em;
    display: inline-block;
    font-size: .9em;
    margin-bottom: 20px;
}
.searchForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cta {
    background: #7700FF;
    border: none;
    color: white;
    margin-bottom: 20px;
    padding: 1em;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

ul {
    list-style-type: none;
    margin: 0;padding: 0;
    background: rgb(238, 238, 238);
    li {
        padding: 1.5em;
        border-radius: 4px;
        margin-bottom: 7px;
        grid-template-columns: 60px auto;
        p {
            margin-left: 20px;
        }

        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}