<h1>Home</h1>

<div *ngIf="myip">Your ip: {{ myip.ip }}</div>
<br>
<div> Random ip: </div>
<div> 
    125.2.105.167 <br>
    192.178.247.82 <br>
    61.138.13.127 <br>
    228.207.9.182 <br>
    181.42.195.14 <br>
</div>
<br>
<form [formGroup]="searchForm" class="searchForm" (ngSubmit)="searchIp(query)">
    <input formControlName="input" class="search" [(ngModel)]="query" placeholder="Search ip address..." type="text"/>
    <button class="cta" (click)= "searchIp(query)">Go</button>
    <!-- <input formControlName="input" class="search" [(ngModel)]="query" placeholder="Search for your ip address..." type="text"/> -->
</form>


<ul *ngIf="ip">
  <li><p>IP address: {{ ip.ip }}</p></li>
  <li><p>Country: {{ ip.country }} {{ ip.flag }} </p></li>
  <li><p>City & Region: {{ ip.city }} , {{ ip.region }}</p></li>
  <li><p>Zip: {{ ip.zip }}</p></li>
</ul>
